body {
  /* box-sizing: content-box; */
}

#bxContainer{
  width: 100vw;
  height: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx {
  width: 80vw;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin: auto;
  border-radius: 50%;
  background: : transparent;
  border: 25px solid rgba(0,0,0,0.5);
}


#firstcircle {
  height: 800px;
  width: 800px;
}

#secondcircle {
  height: 620px;
  width: 620px;
  position: relative;
  left: 90px;
}

#thirdcircle {
  height: 450px;
  width: 450px;
  position: relative;
  right: 85px;
}

#fourthcircle {
  height: 350px;
  width: 350px;
  position: relative;
  left: 50px;
}

#fifthcircle {
  height: 280px;
  width: 280px;
  position: relative;
  right: 35px;
}

#sixthcircle {
  height: 180px;
  width: 180px;
  position: relative;
  left: 50px;
}

#seventhcircle {
  height: 140px;
  width: 140px;
  position: relative;
  right: 25px;
  z-index: -10;
}

.text{
  margin: auto;
  width: 800px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

#Beethoven{
  font-size: 1.7em;
  align-self: flex-start;
}

#discribtion{
  font-family: sans-serif;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
  margin: 0;
}

#discribtion .container{
  display: flex;
  flex-direction: row;
}

.head{
  flex: 1;
  width: 80px;
}

.detailText{
  flex: 2;
  width: 200px;
}

.odd {
  animation-name: changecolorcool;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /*3.5s ease-in 0 infinite normal running none;*/
}

.even {
  animation-name: changecolorwarm;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /*3.5s ease-in 0 infinite normal running none;*/
}

.changewidth {
  animation-name: changecolorwarm, changewidth;
  animation-duration: 1.7s;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.faster {
  animation-duration: 1.5s;
}

.secondfaster{
  animation-duration: 1.8s;
}

.slower{
  animation-duration: 6s;
}

@keyframes changecolorcool {
  0% {
    border-color: rgba(48,48,60,0.9);
  }
  30%{
    border-color: rgba(21,86,116,0.9);
  }
  60% {
    border-color: rgba(97,65,60,0.8);
  }
  100% {
    border-color: rgba(48,48,60,0.9);
  }
}

@keyframes changecolorwarm {
  0% {
    border-color: rgba(64,15,14,0.8);
  }
  30%{
    border-color: rgba(137,0,0,0.9);
  }
  60% {
    border-color: rgba(255,199,43,0.6);
  }
  100% {
    border-color: rgba(64,15,14,0.8);
  }
}

@keyframes changewidth {
  0%{
    border-width: 25px;
  }
  50% {
    border-width: 5px;
  }
  100%{
    border-width: 25px;
  }
}
